.all-movies,.all-cinemas{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid $main-color-orange;
    width: 70%;
    margin: 1rem auto !important;

    .movie,.cinema{
        width: 100%;
        margin: 0.4rem auto;
        text-align: center;
        font-weight: 500;
        height: 2rem;
        font-size: 0.95rem;
        line-height: 2.2;
        width: 100%;

        &:hover{
            cursor: pointer;
            background-color: darken($color: white, $amount: 5%);
        }
    }
    
    .label{
        font-weight: 600;
        font-size: $font-size-l;
        text-align: center;
        padding-bottom: 0.5rem;
    }
}

.addCourseHeader{
    font-weight: 700 !important;
    font-size: 1.7rem !important;
    margin: -1rem !important;

}