$font-size-s:0.8rem;
$font-size-m:0.95rem;
$font-size-l:1.15rem;
$font-size-xl:1.3rem;

$main-color-orange:#F5821E;
$main-color-black:#000000;
$main-color-white:#FFFFFF;

$main-border: 1px solid #e2e2e2;
